@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
.separator {
    height: 1px;
    background-color: #B5B5B5;
    width: 100%;
    border-radius: 3px;
}

.websiteMainHeader {
  position: fixed;
  top: 0;
  z-index: 50;
}
.websiteMainHeader > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}
.websiteMainHeader > div > div {
  margin: 0 25px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  transition-duration: 200ms;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}
.websiteMainHeader > div > div:hover {
  text-decoration: underline;
}

.websiteMainHeader > div > section {
  margin: 0 15px;
}
.websiteMainHeader > div button {
  padding: 6px 15px;
  background-color: #ed2a26;
  color: white;
  font-size: 14px;
  border-radius: 12px;
  width: 100px;
}

.websiteMainBannerSection {
  min-height: 100vh;
  padding: 60px 20px 30px;
  background: #403b4a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #e7e9bb,
    #403b4a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #e7e9bb,
    #403b4a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.websiteMainBannerSection > h1,
.websiteMainBannerSection > h2 {
  text-shadow: 1px 1px 2px black;
  text-align: center;
  color: white;
}
.websiteMainBannerSection > h1 {
  font-size: 50px;
  margin-bottom: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
}

.websiteMainBannerSection > h2 {
  width: 1060px;
  font-size: 20px;
  letter-spacing: 0.75px;
  line-height: 32px;
  font-weight: 500;
}

.websiteAfterBannerSection {
  padding: 96px 40px;
}
.websiteAfterBannerSection > section {
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
}

.websiteAfterBannerSection > section > h3 {
  font-size: 18px;
  letter-spacing: 0.5px;
  text-align: justify;
  margin-bottom: 36px;
  font-weight: 500;
}
.websiteAfterBannerSection > section > div > h4 {
  font-size: 17px;
  letter-spacing: 0.5px;
  text-align: justify;
  margin-bottom: 20px;
}
.websiteAfterBannerSection > section > div > ul {
  list-style: outside;
  margin: 0 20px;
  margin-bottom: 20px;
}
.websiteAfterBannerSection > section > div > ul > li {
  padding: 0 10px;
  font-weight: 400;
  margin-bottom: 14px;
  line-height: 20px;
  text-align: justify;
}
.websiteAfterBannerSection > section > div > ul > li > span {
  font-weight: 600;
  text-transform: capitalize;
}
.websiteAfterBannerSection > section > div > button {
  width: 150px;
  background-color: #ed2a26;
  color: white;
  padding: 8px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.85px;
}

.freeCoursesMainSection {
  margin-bottom: 100px;
}
.paidCoursesMainSection {
  position: relative;
}

.freeCoursesMainSection > section {
  width: 1180px;
  border-radius: 25px;
  margin: 0 auto;
  background-color: #403b4a;
  padding: 40px 32px;
}
.paidCoursesMainSection > section {
  background-color: transparent;
}

.freeCoursesMainSection > section > h3 {
  color: #e7e9bb;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 28px;
  text-align: center;
}
.paidCoursesMainSection > section > h3 {
  color: #333;
}
.freeCoursesMainSection > section > section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.freeCoursesMainSection > section > section > div {
  width: 30%;
  border-radius: 25px;
  background-color: #333;
  padding: 28px 18px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.paidCoursesMainSection > section > section > div {
  background-color: white;
  border: 1px solid #403b4a;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
}
.freeCoursesMainSection .courseImage {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin-bottom: 16px;
}
.freeCoursesMainSection .courseImage img {
  width: 40%;
}
.freeCoursesMainSection h4 {
  color: #e7e9bb;
  font-size: 18px;
  letter-spacing: 0.65px;
}
.paidCoursesMainSection h4 {
  color: #555;
}
.freeCoursesMainSection p {
  color: tan;
  width: 100%;
  text-align: left;
  font-style: italic;
  font-size: smaller;
  margin: 5px 0 14px;
}
.paidCoursesMainSection p {
  color: #888;
}
.freeCoursesMainSection > section > section i {
  color: #2a52be;
  font-size: 22px;
  margin-bottom: 20px;
}
.freeCoursesMainSection > section > section button {
  background-color: #ed2a26;
  color: white;
  font-weight: 700;
  letter-spacing: 0.75px;
  width: 120px;
  padding: 7px;
  border-radius: 8px;
}
.paidCoursesMainSection .priceDiv {
  position: absolute;
  right: 0;
  top: 20px;
  background-color: #00000380;
  color: white;
  padding: 12px 24px;
}
.freeCoursesMainSection > section > div {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.freeCoursesMainSection > section > div button {
  border-radius: 12px;
  background-color: #2a52be;
  color: white;
  padding: 16px 32px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.freeCoursesMainSection > section > div i {
    margin-left: auto;
}

/* *** Review Section *** */
.reviewsMainSection {
    margin-bottom: 100px;
}
.reviewsMainSection h3 {
    color: #ff523b;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}
.reviewsMainSection .rating i {
    color: #ff523b;
}
.testimonial {
    padding: 40px 0;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img {
    width: 100%;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
    border: 1px solid #ddd;
    border-radius: 12px;
}
.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover {
    transform: translateY(-10px);
}
.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}
.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

footer {
    padding: 60px 0 20px;
    background-color: #000000;
}
footer > section {
    width: 1300px;
    padding: 0 25px;
    margin: 0 auto;
}
footer > section > section {
    display: flex;
    align-items: center;
}
footer > section > .copyright {
    text-align: center;
}